@model trelo2.Models.Task

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj nowy Task", "Create")
</p>
<div id="TaskTableDiv"></div>
<div id="AddTaskForm">
    @using (Ajax.BeginForm("AjaxCreate", "Tasks",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "TaskTableDiv"



        }
        ))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => model.Body, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
            </div>
        </div>
    }
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BulidTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

